body {
    background-color: #999;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 10em;
    text-align: center;
}

header {
    text-align: center;
    color: white;
    font-size: 1.6em;
}

#logo-wrapper {
    text-align: center;
    margin: 0 auto;
    margin-top: 35vh;
}

#logo {
    display: inline-block;
    margin: 0 auto;
}

a, a:visited {
    text-decoration: none;
}
header a, header a:visited {
    color: white;
}

#main-menu-wrapper {
    background-color: #888;
}

#main-menu {
    width: 40%;
    margin: 0 auto;
    display: inline-block;
}

#main-menu ul{
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

#main-menu ul li {
    float: left;
    margin: 0;
    width: 33%;
}

#main-menu ul li p{
    margin: 0;
}

#main-menu ul li ul {

}

footer {
    text-align: center;
    position:fixed;
    bottom:0px;
    margin-bottom: 15px;
    width:100%;
}

footer a {
    color: black;
}

@media only screen and (max-device-width: 480px){
    body {font-family: Helvetica, sans-serif;}
    header {
        font-size: 3em;
    }
    #main-menu {
        width: 80%;
    }
    footer {
        font-size: 2.4em;
    }
}
